$max-width-xsm: 600px;
$max-width-sm: 920px;
$max-width-lg: 1200px;

$breakpoint-sm: 'only screen and (min-width: #{$max-width-sm})';
$breakpoint-lg: 'only screen and (min-width: #{$max-width-lg})';

/* 
* Como usar
___________
 .seletor {
   @media #{$breakpoint-sm} {
     regras aqui
   }
 }
 */
